@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?chstrj');
  src:  url('../fonts/icomoon.eot?chstrj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?chstrj') format('truetype'),
    url('../fonts/icomoon.woff?chstrj') format('woff'),
    url('../fonts/icomoon.svg?chstrj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address:before {
  content: "\e900";
}
.icon-call:before {
  content: "\e901";
}
.icon-challenges:before {
  content: "\e902";
}
.icon-clients:before {
  content: "\e903";
}
.icon-clockregular:before {
  content: "\e904";
}
.icon-clockround:before {
  content: "\e905";
}
.icon-design:before {
  content: "\e906";
}
.icon-direct-marketing:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-forsale:before {
  content: "\e909";
}
.icon-handshakes:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-home-address:before {
  content: "\e90c";
}
.icon-house:before {
  content: "\e90d";
}
.icon-insurance:before {
  content: "\e90e";
}
.icon-interiordesigning:before {
  content: "\e90f";
}
.icon-land:before {
  content: "\e910";
}
.icon-linkedin:before {
  content: "\e911";
}
.icon-livingroom:before {
  content: "\e912";
}
.icon-mail:before {
  content: "\e913";
}
.icon-measure:before {
  content: "\e914";
}
.icon-next:before {
  content: "\e915";
}
.icon-phonecall:before {
  content: "\e916";
}
.icon-phone-call:before {
  content: "\e917";
}
.icon-pin:before {
  content: "\e918";
}
.icon-plan:before {
  content: "\e919";
}
.icon-plot:before {
  content: "\e91a";
}
.icon-plotdevelopment:before {
  content: "\e91b";
}
.icon-prev:before {
  content: "\e91c";
}
.icon-send:before {
  content: "\e91d";
}
.icon-sending:before {
  content: "\e91e";
}
.icon-stats:before {
  content: "\e91f";
}
.icon-support:before {
  content: "\e920";
}
.icon-swipeup:before {
  content: "\e921";
}
.icon-twitter:before {
  content: "\e922";
}
.icon-uparrow:before {
  content: "\e923";
}
.icon-websiteland:before {
  content: "\e924";
}
