@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

//common styles
body {
  @include siteMain;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fslight {
  font-weight: 200;
}
.flight {
  font-weight: 300;
}
.fsbold {
  font-weight: 600;
}
.fbold {
  font-weight: 700;
}
.flightblue {
  color: $lightblue;
}

.brdlink {
  border: 1px solid $black;
  padding: 12px 25px;
  text-align: center;
  @include borderRadius(25px, 25px, 25px, 25px);
  @include transition;

  &:hover {
    background: $blue;
    color: $white;
  }
}
.fblue {
  color: $blue;
}
.fgreen {
  color: $green !important;
}

a {
  text-decoration: none;
  color: inherit;
  @include transition;
}

// h1{
//     font-size:clamp(1rem, 2.2vw, 2.2rem);
// }

.customContainer {
  width: 95%;
  margin: 0 auto;
}

.fixed-theme {
  background: $blue;
  border: none;
  @include boxshadow(0, 3px, 5px, lighten($black, 20%));
  padding: 10px 0;

  .navbar-brand {
    img {
      width: 145px;
      @include transition;
    }
  }
}

//header styles
header {
  border-bottom: 1px solid $lightblue;
  padding: 15px 0;
  .navbar-brand {
    background: $white;
    padding: 10px 30px;
    @include transition;
    @include borderRadius(50px, 50px, 50px, 50px);
    img {
      width: 165px;
      @include transition;
    }
  }
  .activenav-link {
    padding: 10px 15px;
    display: block;
    color: $lightblue;

    @include max($md) {
      padding: 5px 0;
    }
  }
  a.active {
    padding: 10px 15px;
    display: block;
    color: $lightblue;

    @include max($md) {
      padding: 5px 0;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        &:hover {
          color: $lightblue;
        }
        @include max($lg) {
          display: block !important;
        }
      }
    }
  }
  .rtnav {
    .brdlink {
      border: 1px solid $white;

      @include max($md) {
        padding: 10px 25px !important;
      }

      &:hover {
        background: $lightblue;
        color: $white !important;
      }
    }
  }
  .dropdown {
    .navbar-nav {
      padding: 0 !important;
      .nav-item {
        .nav-link {
          &:hover {
            background: $blue;
            color: $white;
          }
        }
        .activesubnav {
          background: $blue;
          color: $white;
          padding: 10px;
          display: block;

          @include max($md) {
            background: $lightblue !important;
          }
        }
      }
    }
  }
}

.homeSlider {
  height: 100vh;
  background: url(../img/sliderbg.png) no-repeat bottom right,
    linear-gradient($blue, $lightblue);
  width: 100%;

  .homeSwiper {
    margin-top: 300px;
    color: $white;

    .h1 {
      font-size: clamp(1.5rem, 3vw, 3rem);
    }
    .swiper-slide {
      @include max($xl) {
        background: $lightblue;
        padding: 12px;
      }
    }
  }
}

.titleBox {
  h2 {
    padding: 0;
    margin: 0;
  }
  p {
    width: 600px;
    margin: 0;
    padding-left: 50px;
    border-left: 1px solid gray;
    margin-left: 35px;

    @include max($md) {
      width: auto;
      padding-left: 0;
      border-left: none;
      margin-left: 0;
    }
  }
}

.homeServices {
  padding: 25px 0 0 0;

  .homeServicesSwiper {
    margin-top: 25px;
    .swiper-slide {
      @include verticalcenter;
      min-height: 583px;
      max-height: 583px;
      padding: 0 50px;
      color: $white;
      text-align: left;

      @include max($md) {
        min-height: 465px;
        max-height: 465px;
      }

      h3 {
        position: relative;
        margin-bottom: 30px;

        &:before {
          content: "";
          width: 100px;
          height: 5px;
          background: $white;
          position: absolute;
          bottom: -10px;
          left: 0;
        }
      }
      p {
        font-size: $fsize + 1;
        line-height: 25px;
        margin-bottom: 50px;
      }

      .icomoon {
        font-size: $fsize * 4;
        margin-bottom: 25px;
      }

      a {
        &:hover {
          text-decoration: underline;
          color: $white;
        }
      }

      &:nth-child(even) {
        background: $lightblue;
      }
      &:nth-child(odd) {
        background: $blue;
      }
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: $fsize + 10;
    color: $white;
  }
}

.afterUnderling {
  &:before {
    content: "";
    width: 100px;
    height: 5px;
    background: $white;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: -30px;
  }
}

.aboutSection {
  padding: 75px 0;
  background: $blue url(../img/plannnnsb.png) no-repeat left bottom;
  min-height: 400px;
  color: $white;

  h2 {
    margin-bottom: 60px;
  }
  .aboutCol {
    margin: 50px 0;
    border-right: 1px solid $white;
    h3 {
      font-size: clamp(2rem, 4vw, 4rem);
    }
    h6 {
      font-size: clamp(1rem, 1.2vw, 1.2rem);
    }
    &:last-child {
      border: none;
    }
  }

  .link {
    @extend .brdlink;
    border-color: $white;

    &:hover {
      background: $lightblue;
      border-color: $lightblue;
    }
  }
}

.projectsHome {
  padding: 50px 0;
  background: $blue;
  color: $white;

  .link {
    @extend .brdlink;
    border-color: $white;

    &:hover {
      background: $lightblue;
      color: $white;
      border-color: $lightblue;
    }
  }
  .titlecol {
    p {
      padding: 0 0 15px 0;
    }
  }
}

.projectCol {
  figure {
    .badge {
      top: 10px;
      right: 20px;
      z-index: 25;
    }
    a {
      img {
        @include transition;
        &:hover {
          filter: grayscale(100%);
        }
      }
    }
  }
  article {
    background: $white;
    width: 85%;
    margin: -50px auto 0 auto;
    position: relative;
    padding: 20px;
    color: $black;

    h5 {
      a {
        &:hover {
          color: $lightblue;
        }
      }
    }

    p {
      margin: 0;
      padding: 0;
      color: lighten($black, 50%);
    }
  }
}

.contactSection {
  padding: 120px 0;

  h2 {
    font-size: clamp(1rem, 2.5vw, 2.5rem);
  }
  p {
    font-size: $fsize + 1;
    padding: 20px 0;
  }
  a {
    @extend .brdlink;

    &:hover {
      background: $blue;
      color: $white;
      border: 1px solid $blue;
    }
  }
}

footer {
  .whatsappChat {
    position: fixed;
    bottom: 120px;
    right: 0;
    z-index: 99;

    img {
      width: 50px;
    }
  }
  //top footer
  .topFooter {
    background: $lightblue;
    padding: 50px 0;
    color: $white;

    table {
      color: $white;

      .icomoon {
        font-size: $fsize + 2;
      }
    }

    .footerBrand {
      background: $white;
      padding: 10px 30px;
      @include transition;
      @include borderRadius(50px, 50px, 50px, 50px);
      display: inline-block;
      img {
        width: 165px;
        @include transition;
      }
    }
    .footerlinks {
      ul {
        width: 50%;
        li {
          a.footerlink {
            padding-bottom: 12px;
            display: inline-block;
            font-size: $fsize - 1;
            @include transition;

            &:hover {
              color: $blue;
            }
          }
          .footeractive {
            color: $blue;
            padding-bottom: 12px;
            display: inline-block;
            font-size: $fsize - 1;
          }
        }
      }
    }
  }

  .bottomFooter {
    background: darken($blue, 5%);
    padding: 15px;
    color: $white;

    .footerSocial {
      a {
        width: 35px;
        height: 35px;
        text-align: center;
        display: inline-block;
        line-height: 35px;
        color: $white;
        background: $lightblue;
        @include transition;

        &:hover {
          background: $white;

          .icomoon {
            color: $blue;
          }
        }
      }
    }
    .moveTop {
      width: 40px;
      height: 40px;
      border: 1px solid $white;
      position: fixed;
      bottom: 50px;
      right: 5px;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      @include transition;
      background: $blue;
      z-index: 9999;
      text-decoration: none;

      &:hover {
        background: $lightblue;
      }
      .icomoon {
        color: $white;
      }
    }
  }
}

//subn page styles
.subpageHeader {
  background: linear-gradient($blue, $lightblue);
  min-height: 250px;
  padding-top: 135px;

  h1 {
    color: $white;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    @extend .fsbold;
  }
  .breadcrumb {
    color: $white;

    .active {
      color: $blue;
    }
    .breadcrumb-item {
      &:before {
        color: $white;
      }
    }
  }
}

.bhimg {
  padding: 5px;
  @include boxshadow(0, 3px, 5px, lighten($black, 50%));
  @include borderRadius(15px, 15px, 15px, 15px);
}

.subpageMain {
  min-height: 500px;
  padding: 50px 0;

  .uline {
    position: relative;
    padding-bottom: 30px;

    &:before {
      content: "";
      width: 75px;
      height: 5px;
      background: $blue;
      position: absolute;
      left: 0;
      bottom: 10px;
    }
  }

  p {
    color: lighten($black, 30%);
    line-height: 28px;
    text-align: justify;
    font-size: $fsize;
  }

  .whychooseus {
    margin: 25px 0;
  }
  .listItems {
    li {
      padding-bottom: 15px;
      padding-left: 15px;
      position: relative;

      &:before {
        content: "";
        width: 5px;
        height: 5px;
        background: $blue;
        position: absolute;
        left: 0;
        top: 12px;
      }
    }
  }

  .teamSection {
    padding: 25px 0;

    .teamrow {
      padding: 25px 0;

      .teamcol {
        article {
          @include boxshadow(0, 3px, 5px, lighten($black, 50%));

          h5 {
            font-size: clamp(1rem, 1.2vw, 1.2rem);
          }
        }
      }
    }
  }

  .buildtogether {
    background: url(../img/cta.jpg) no-repeat 0 0;
    background-size: cover;
    padding: 120px 0;
    color: $white;

    .brdlink {
      background: $blue;
      border: 1px solid $blue;
    }
  }

  .highletSec {
    background: lighten($blue, 75%);
    border-left: 5px solid $blue;
    padding: 25px;

    h6 {
      line-height: 28px;
    }
  }

  .projectsItems {
    .nav {
      .nav-link {
        background: lighten($blue, 75%);
        border-radius: 0;
        color: $black;
        margin-right: 10px;

        @include max($sm) {
          padding: 0.5rem 10px;
        }
      }
      .active {
        background: $blue;
        color: $white;
      }
    }
  }

  .projectItem {
    padding: 10px;
    @include boxshadow(0, 2px, 2px, lighten($black, 70%));
    margin-bottom: 15px;

    @include max($sm) {
      padding: 15px;
    }

    figure {
      margin: 0;
      .badge {
        right: 0;
        top: 0;
        font-weight: 400;
        border-radius: 0;
      }
    }
  }

  //blog
  .blogcol {
    margin-bottom: 15px;
    figure {
      margin: 0;
    }
    article {
      background: $white;
      @include boxshadow(0, 2px, 2px, lighten($black, 80%));
      padding: 15px;

      .date {
        color: lighten($black, 60%);
      }
    }
  }
  .blogCategories {
    li {
      a {
        &:hover {
          color: $blue;
        }
        &:before {
          content: "\e915";
          font-family: "icomoon" !important;
          position: absolute;
          right: 0;
          top: 16px;
          font-size: $fsize - 4;
          color: $gray;
        }
      }
    }
  }
  //subends
}

.projectGallery {
  margin-top: 50px;
}

.gallery-block.grid-gallery .heading {
  margin-bottom: 20px;
  text-align: center;
}

.gallery-block.grid-gallery .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover {
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.gallery-block.grid-gallery .item {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .gallery-block.grid-gallery .scale-on-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}

.careerCol {
  margin-bottom: 35px;
  text-align: center;
  .careerColicon {
    width: 100px;
    height: 100px;
    background: $blue;
    text-align: center;
    @include verticalcenter;
    @include borderRadius(10px, 10px, 10px, 10px);
    margin: 0 auto;

    .icomoon {
      color: $white;
      font-size: $fsize * 4;
    }
  }
}

.jobOpenings {
  .accordion-item {
    border-top: 0;
    border-left: 0;
    border-right: 0;

    .accordion-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.whitebox {
  padding: 15px;
  @include boxshadow(0, 2px, 2px, lighten($black, 80%));
}

.contactDetailsRow {
  padding-top: 75px;
  padding-bottom: 75px;

  .contactCol {
    border: 1px solid lighten($black, 75%);
    @include verticalcenter;
    min-height: 350px;

    .icomoon {
      font-size: $fsize * 4;
    }
  }
}

.contactForm {
  width: 85%;
  margin: 0 auto;

  .brdlink {
    background: $blue;
    color: $white;
  }
}
