@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  color: #000;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fslight {
  font-weight: 200;
}

.flight {
  font-weight: 300;
}

.fsbold, .subpageHeader h1 {
  font-weight: 600;
}

.fbold {
  font-weight: 700;
}

.flightblue {
  color: #4491C1;
}

.brdlink, .contactSection a, .projectsHome .link, .aboutSection .link {
  border: 1px solid #000;
  padding: 12px 25px;
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.brdlink:hover, .contactSection a:hover, .projectsHome .link:hover, .aboutSection .link:hover {
  background: #001659;
  color: #fff;
}

.fblue {
  color: #001659;
}

.fgreen {
  color: #009E1A !important;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.customContainer {
  width: 95%;
  margin: 0 auto;
}

.fixed-theme {
  background: #001659;
  border: none;
  box-shadow: 0 3px 5px #333333;
  -moz-box-shadowbox-shadow: 0 3px 5px #333333;
  -webkit-box-shadowbox-shadow: 0 3px 5px #333333;
  -ms-box-shadowbox-shadow: 0 3px 5px #333333;
  -o-box-shadowbox-shadow: 0 3px 5px #333333;
  padding: 10px 0;
}
.fixed-theme .navbar-brand img {
  width: 145px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

header {
  border-bottom: 1px solid #4491C1;
  padding: 15px 0;
}
header .navbar-brand {
  background: #fff;
  padding: 10px 30px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
header .navbar-brand img {
  width: 165px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
header .activenav-link {
  padding: 10px 15px;
  display: block;
  color: #4491C1;
}
@media (max-width: 768px) {
  header .activenav-link {
    padding: 5px 0;
  }
}
header a.active {
  padding: 10px 15px;
  display: block;
  color: #4491C1;
}
@media (max-width: 768px) {
  header a.active {
    padding: 5px 0;
  }
}
header .navbar-nav .nav-item .nav-link:hover {
  color: #4491C1;
}
@media (max-width: 992px) {
  header .navbar-nav .nav-item .nav-link {
    display: block !important;
  }
}
header .rtnav .brdlink, header .rtnav .contactSection a, .contactSection header .rtnav a, header .rtnav .projectsHome .link, .projectsHome header .rtnav .link, header .rtnav .aboutSection .link, .aboutSection header .rtnav .link {
  border: 1px solid #fff;
}
@media (max-width: 768px) {
  header .rtnav .brdlink, header .rtnav .contactSection a, .contactSection header .rtnav a, header .rtnav .projectsHome .link, .projectsHome header .rtnav .link, header .rtnav .aboutSection .link, .aboutSection header .rtnav .link {
    padding: 10px 25px !important;
  }
}
header .rtnav .brdlink:hover, header .rtnav .contactSection a:hover, .contactSection header .rtnav a:hover, header .rtnav .projectsHome .link:hover, .projectsHome header .rtnav .link:hover, header .rtnav .aboutSection .link:hover, .aboutSection header .rtnav .link:hover {
  background: #4491C1;
  color: #fff !important;
}
header .dropdown .navbar-nav {
  padding: 0 !important;
}
header .dropdown .navbar-nav .nav-item .nav-link:hover {
  background: #001659;
  color: #fff;
}
header .dropdown .navbar-nav .nav-item .activesubnav {
  background: #001659;
  color: #fff;
  padding: 10px;
  display: block;
}
@media (max-width: 768px) {
  header .dropdown .navbar-nav .nav-item .activesubnav {
    background: #4491C1 !important;
  }
}

.homeSlider {
  height: 100vh;
  background: url(../img/sliderbg.png) no-repeat bottom right, linear-gradient(#001659, #4491C1);
  width: 100%;
}
.homeSlider .homeSwiper {
  margin-top: 300px;
  color: #fff;
}
.homeSlider .homeSwiper .h1 {
  font-size: clamp(1.5rem, 3vw, 3rem);
}
@media (max-width: 1200px) {
  .homeSlider .homeSwiper .swiper-slide {
    background: #4491C1;
    padding: 12px;
  }
}

.titleBox h2 {
  padding: 0;
  margin: 0;
}
.titleBox p {
  width: 600px;
  margin: 0;
  padding-left: 50px;
  border-left: 1px solid gray;
  margin-left: 35px;
}
@media (max-width: 768px) {
  .titleBox p {
    width: auto;
    padding-left: 0;
    border-left: none;
    margin-left: 0;
  }
}

.homeServices {
  padding: 25px 0 0 0;
}
.homeServices .homeServicesSwiper {
  margin-top: 25px;
}
.homeServices .homeServicesSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-direction: column;
  min-height: 583px;
  max-height: 583px;
  padding: 0 50px;
  color: #fff;
  text-align: left;
}
@media (max-width: 768px) {
  .homeServices .homeServicesSwiper .swiper-slide {
    min-height: 465px;
    max-height: 465px;
  }
}
.homeServices .homeServicesSwiper .swiper-slide h3 {
  position: relative;
  margin-bottom: 30px;
}
.homeServices .homeServicesSwiper .swiper-slide h3:before {
  content: "";
  width: 100px;
  height: 5px;
  background: #fff;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.homeServices .homeServicesSwiper .swiper-slide p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 50px;
}
.homeServices .homeServicesSwiper .swiper-slide .icomoon {
  font-size: 60px;
  margin-bottom: 25px;
}
.homeServices .homeServicesSwiper .swiper-slide a:hover {
  text-decoration: underline;
  color: #fff;
}
.homeServices .homeServicesSwiper .swiper-slide:nth-child(even) {
  background: #4491C1;
}
.homeServices .homeServicesSwiper .swiper-slide:nth-child(odd) {
  background: #001659;
}
.homeServices .swiper-button-next:after,
.homeServices .swiper-button-prev:after {
  font-size: 25px;
  color: #fff;
}

.afterUnderling:before {
  content: "";
  width: 100px;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: -30px;
}

.aboutSection {
  padding: 75px 0;
  background: #001659 url(../img/plannnnsb.png) no-repeat left bottom;
  min-height: 400px;
  color: #fff;
}
.aboutSection h2 {
  margin-bottom: 60px;
}
.aboutSection .aboutCol {
  margin: 50px 0;
  border-right: 1px solid #fff;
}
.aboutSection .aboutCol h3 {
  font-size: clamp(2rem, 4vw, 4rem);
}
.aboutSection .aboutCol h6 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}
.aboutSection .aboutCol:last-child {
  border: none;
}
.aboutSection .link {
  border-color: #fff;
}
.aboutSection .link:hover {
  background: #4491C1;
  border-color: #4491C1;
}

.projectsHome {
  padding: 50px 0;
  background: #001659;
  color: #fff;
}
.projectsHome .link {
  border-color: #fff;
}
.projectsHome .link:hover {
  background: #4491C1;
  color: #fff;
  border-color: #4491C1;
}
.projectsHome .titlecol p {
  padding: 0 0 15px 0;
}

.projectCol figure .badge {
  top: 10px;
  right: 20px;
  z-index: 25;
}
.projectCol figure a img {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.projectCol figure a img:hover {
  filter: grayscale(100%);
}
.projectCol article {
  background: #fff;
  width: 85%;
  margin: -50px auto 0 auto;
  position: relative;
  padding: 20px;
  color: #000;
}
.projectCol article h5 a:hover {
  color: #4491C1;
}
.projectCol article p {
  margin: 0;
  padding: 0;
  color: gray;
}

.contactSection {
  padding: 120px 0;
}
.contactSection h2 {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
}
.contactSection p {
  font-size: 16px;
  padding: 20px 0;
}
.contactSection a:hover {
  background: #001659;
  color: #fff;
  border: 1px solid #001659;
}

footer .whatsappChat {
  position: fixed;
  bottom: 120px;
  right: 0;
  z-index: 99;
}
footer .whatsappChat img {
  width: 50px;
}
footer .topFooter {
  background: #4491C1;
  padding: 50px 0;
  color: #fff;
}
footer .topFooter table {
  color: #fff;
}
footer .topFooter table .icomoon {
  font-size: 17px;
}
footer .topFooter .footerBrand {
  background: #fff;
  padding: 10px 30px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: inline-block;
}
footer .topFooter .footerBrand img {
  width: 165px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
footer .topFooter .footerlinks ul {
  width: 50%;
}
footer .topFooter .footerlinks ul li a.footerlink {
  padding-bottom: 12px;
  display: inline-block;
  font-size: 14px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
footer .topFooter .footerlinks ul li a.footerlink:hover {
  color: #001659;
}
footer .topFooter .footerlinks ul li .footeractive {
  color: #001659;
  padding-bottom: 12px;
  display: inline-block;
  font-size: 14px;
}
footer .bottomFooter {
  background: #001040;
  padding: 15px;
  color: #fff;
}
footer .bottomFooter .footerSocial a {
  width: 35px;
  height: 35px;
  text-align: center;
  display: inline-block;
  line-height: 35px;
  color: #fff;
  background: #4491C1;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
footer .bottomFooter .footerSocial a:hover {
  background: #fff;
}
footer .bottomFooter .footerSocial a:hover .icomoon {
  color: #001659;
}
footer .bottomFooter .moveTop {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  position: fixed;
  bottom: 50px;
  right: 5px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  background: #001659;
  z-index: 9999;
  text-decoration: none;
}
footer .bottomFooter .moveTop:hover {
  background: #4491C1;
}
footer .bottomFooter .moveTop .icomoon {
  color: #fff;
}

.subpageHeader {
  background: linear-gradient(#001659, #4491C1);
  min-height: 250px;
  padding-top: 135px;
}
.subpageHeader h1 {
  color: #fff;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
}
.subpageHeader .breadcrumb {
  color: #fff;
}
.subpageHeader .breadcrumb .active {
  color: #001659;
}
.subpageHeader .breadcrumb .breadcrumb-item:before {
  color: #fff;
}

.bhimg {
  padding: 5px;
  box-shadow: 0 3px 5px gray;
  -moz-box-shadowbox-shadow: 0 3px 5px gray;
  -webkit-box-shadowbox-shadow: 0 3px 5px gray;
  -ms-box-shadowbox-shadow: 0 3px 5px gray;
  -o-box-shadowbox-shadow: 0 3px 5px gray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.subpageMain {
  min-height: 500px;
  padding: 50px 0;
}
.subpageMain .uline {
  position: relative;
  padding-bottom: 30px;
}
.subpageMain .uline:before {
  content: "";
  width: 75px;
  height: 5px;
  background: #001659;
  position: absolute;
  left: 0;
  bottom: 10px;
}
.subpageMain p {
  color: #4d4d4d;
  line-height: 28px;
  text-align: justify;
  font-size: 15px;
}
.subpageMain .whychooseus {
  margin: 25px 0;
}
.subpageMain .listItems li {
  padding-bottom: 15px;
  padding-left: 15px;
  position: relative;
}
.subpageMain .listItems li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #001659;
  position: absolute;
  left: 0;
  top: 12px;
}
.subpageMain .teamSection {
  padding: 25px 0;
}
.subpageMain .teamSection .teamrow {
  padding: 25px 0;
}
.subpageMain .teamSection .teamrow .teamcol article {
  box-shadow: 0 3px 5px gray;
  -moz-box-shadowbox-shadow: 0 3px 5px gray;
  -webkit-box-shadowbox-shadow: 0 3px 5px gray;
  -ms-box-shadowbox-shadow: 0 3px 5px gray;
  -o-box-shadowbox-shadow: 0 3px 5px gray;
}
.subpageMain .teamSection .teamrow .teamcol article h5 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}
.subpageMain .buildtogether {
  background: url(../img/cta.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 120px 0;
  color: #fff;
}
.subpageMain .buildtogether .brdlink, .subpageMain .buildtogether .aboutSection .link, .aboutSection .subpageMain .buildtogether .link, .subpageMain .buildtogether .projectsHome .link, .projectsHome .subpageMain .buildtogether .link, .subpageMain .buildtogether .contactSection a, .contactSection .subpageMain .buildtogether a {
  background: #001659;
  border: 1px solid #001659;
}
.subpageMain .highletSec {
  background: #d9e2ff;
  border-left: 5px solid #001659;
  padding: 25px;
}
.subpageMain .highletSec h6 {
  line-height: 28px;
}
.subpageMain .projectsItems .nav .nav-link {
  background: #d9e2ff;
  border-radius: 0;
  color: #000;
  margin-right: 10px;
}
@media (max-width: 576px) {
  .subpageMain .projectsItems .nav .nav-link {
    padding: 0.5rem 10px;
  }
}
.subpageMain .projectsItems .nav .active {
  background: #001659;
  color: #fff;
}
.subpageMain .projectItem {
  padding: 10px;
  box-shadow: 0 2px 2px #b3b3b3;
  -moz-box-shadowbox-shadow: 0 2px 2px #b3b3b3;
  -webkit-box-shadowbox-shadow: 0 2px 2px #b3b3b3;
  -ms-box-shadowbox-shadow: 0 2px 2px #b3b3b3;
  -o-box-shadowbox-shadow: 0 2px 2px #b3b3b3;
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .subpageMain .projectItem {
    padding: 15px;
  }
}
.subpageMain .projectItem figure {
  margin: 0;
}
.subpageMain .projectItem figure .badge {
  right: 0;
  top: 0;
  font-weight: 400;
  border-radius: 0;
}
.subpageMain .blogcol {
  margin-bottom: 15px;
}
.subpageMain .blogcol figure {
  margin: 0;
}
.subpageMain .blogcol article {
  background: #fff;
  box-shadow: 0 2px 2px #cccccc;
  -moz-box-shadowbox-shadow: 0 2px 2px #cccccc;
  -webkit-box-shadowbox-shadow: 0 2px 2px #cccccc;
  -ms-box-shadowbox-shadow: 0 2px 2px #cccccc;
  -o-box-shadowbox-shadow: 0 2px 2px #cccccc;
  padding: 15px;
}
.subpageMain .blogcol article .date {
  color: #999999;
}
.subpageMain .blogCategories li a:hover {
  color: #001659;
}
.subpageMain .blogCategories li a:before {
  content: "\e915";
  font-family: "icomoon" !important;
  position: absolute;
  right: 0;
  top: 16px;
  font-size: 11px;
  color: #4B4B4D;
}

.projectGallery {
  margin-top: 50px;
}

.gallery-block.grid-gallery .heading {
  margin-bottom: 20px;
  text-align: center;
}

.gallery-block.grid-gallery .heading h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover {
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.gallery-block.grid-gallery .item {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .gallery-block.grid-gallery .scale-on-hover:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}
.careerCol {
  margin-bottom: 35px;
  text-align: center;
}
.careerCol .careerColicon {
  width: 100px;
  height: 100px;
  background: #001659;
  text-align: center;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 auto;
}
.careerCol .careerColicon .icomoon {
  color: #fff;
  font-size: 60px;
}

.jobOpenings .accordion-item {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.jobOpenings .accordion-item .accordion-body {
  padding-left: 0;
  padding-right: 0;
}

.whitebox {
  padding: 15px;
  box-shadow: 0 2px 2px #cccccc;
  -moz-box-shadowbox-shadow: 0 2px 2px #cccccc;
  -webkit-box-shadowbox-shadow: 0 2px 2px #cccccc;
  -ms-box-shadowbox-shadow: 0 2px 2px #cccccc;
  -o-box-shadowbox-shadow: 0 2px 2px #cccccc;
}

.contactDetailsRow {
  padding-top: 75px;
  padding-bottom: 75px;
}
.contactDetailsRow .contactCol {
  border: 1px solid #bfbfbf;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-direction: column;
  min-height: 350px;
}
.contactDetailsRow .contactCol .icomoon {
  font-size: 60px;
}

.contactForm {
  width: 85%;
  margin: 0 auto;
}
.contactForm .brdlink, .contactForm .aboutSection .link, .aboutSection .contactForm .link, .contactForm .projectsHome .link, .projectsHome .contactForm .link, .contactForm .contactSection a, .contactSection .contactForm a {
  background: #001659;
  color: #fff;
}/*# sourceMappingURL=style.css.map */